<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sun.personalconnect">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- imei -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- gps -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:name=".Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">

        <meta-data android:name="com.amap.api.v2.apikey" android:value="36c0bd418f6817db2432a6a691712d07"/>
        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="0e5b8e8cca" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0.0" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="main" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />


        <activity android:name=".MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name="com.sun.account.AccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.sun.home.HomeActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask">
        </activity>

        <activity android:name="com.sun.conversation.CvsActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.sun.gps.GpsActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.sun.gps.GaoDeMapActivity"
            android:launchMode="singleTask">
        </activity>

        <activity android:name="com.sun.camera.CameraActivity" android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.sun.utils.PageFragmentActivity" android:windowSoftInputMode="adjustPan"/>

        <service
            android:name="com.sun.conversation.CvsService">
        </service>
        <service
            android:name="com.sun.service.AnswerService">
        </service>
        <service
            android:name="com.sun.connect.SocketService"
            android:process=":remote">
        </service>

        <fragment
            android:id="@+id/myFragment"
            android:name="com.sun.home.EntryFragment_"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent" />
    </application>

</manifest>
